{% extends "website/base.html" %}

{% block content %}
    <div class="contactuscontent">
        <div class="contactbox">
            <div>
                <img src="/static/img/contact.jpg" alt="contactusimg">
            </div>
        </div>
        <hr/>
        <div class="contactemail"><h1>Email: surya17@gmail.ac.in</h1></div>
        <div class="contactphone"><h2>Phone: +91-9344857514</h2></div>
        <div class="contactphone"><h2>Address: © Surya pvt,Silicon valley, Microsoft, Google</h2></div>
        <hr/>
    </div>

{% endblock %}